
# These files are text and should be normalized (Convert crlf => lf)
*.css text
*.js text
*.htm text
*.html text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary

# Auto detect text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
* text=auto

# Documents
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain

# do not merge these files
dist/**/*.js -diff

# I prefer -diff for mistakes prevention
yarn.lock merge=ours
package-lock.json merge=ours