DB_HOST=localhost
#DB_HOST=demo.rosebaycorporate.com
DB_PORT= 5432
#DB_PORT= 4059
REDIS_PORT=6379
DB_USERNAME=postgres
DB_PASSWORD=mysecretpassword
#DB_PASSWORD=h6?3gV/!8aXV-q
DB_DATABASE=postgres
#DB_DATABASE=db_customer
KAFKA_BROKER=35.224.105.199:9092
SECRET=secretKey!@2
APP_PORT=8000
AUTHENTICATER_URL=http://demo.rosebaycorporate.com:4053/v1/auth/
SET_MPIN_URL=http://localhost:8001/v1/merchant-wallet/setMpin
VERIFY_MPIN_URL=http://localhost:8001/v1/merchant-wallet/verifyMpin
MERCHANT_TRANSACTION=http://localhost:8001/v1/merchant-wallet/transaction
MERCHANT_TRANSACTION_REPORT=http://localhost:8001/v1/merchant-wallet/merchant-transaction-report
GET_CUSTOMER_BALANCE=http://localhost:8001/v1/customer-wallet/customer-balance
CHANGE_MPIN_URL=http://localhost:8001/v1/customer-wallet/changeMpin
SET_MPIN_CUSTOMER_URL=http://localhost:8080/v1/customer-wallet/setMpin
CHECK_MPIN=http://localhost:8080/v1/customer-wallet/checkMpin
LOAD_CREDIT_URL=http://localhost:8001/v1/customer-wallet/load-credit
CUSTOMER_TRANSACTION=http://localhost:8001/v1/customer-wallet/transaction
CUSTOMER_TRANSACTION_CREATE=http://localhost:8080/v1/customer-wallet/transaction/
#CUSTOMER_TRANSACTIONS=
CUSTOMER_PAYMENT=http://localhost:8001/v1/customer-wallet/payment
BILLED_AMOUNT=http://localhost:8001/v1/customer-wallet/billed-report
UNBILLED_AMOUNT=http://localhost:8001/v1/customer-wallet/unbilled-report
GET_SOA_NOC=http://demo.rosebaycorporate.com:4099/api/rl/transaction-files/
GET_CUSTOMER_NOTIFICATIONS=http://demo.rosebaycorporate.com:4082/v1/member-notification/customer-notification/
GET_INTEREST_RATE=http://localhost:8080/v1/setting/get-interest-rate/
GETALLUSER_FOR_NOTIFICATION=http://demo.rosebaycorporate.com:4053/v1/user-notification/except/
SEND_FOR_NOTIFICATION=http://demo.rosebaycorporate.com:4082/v1/notification/
GET_CUSTOMER_CREDIT_LIMIT=http://localhost:8080/v1/customer-wallet/credit-limit/
PL_APPROVE=http://localhost:8080/v1/customer-wallet/
PL_PAYMENT=http://localhost:8080/v1/calculation/pl-repayment/
RL_PAYMENT=http://localhost:8080/v1/calculation/rl-repayment/
EMI_RESPONSE=http://localhost:8080/v1/calculation/emi-response/
PL_APPLY=http://demo.rosebaycorporate.com:4061/v1/customer-wallet/pl-apply/
GET_BRANCH_INFO=http://localhost:8080/v1/customer-wallet/bank-info/

#Middleware
AUTHENTICATE_FOR_MIDDLEWARE=http://demo.rosebaycorporate.com:4099/consumer_auth/login/
GET_ALL_PRODUCT_CREDIT=http://demo.rosebaycorporate.com:4099/api/rl/product-credit-balance/
GET_ONE_PRODUCT_CREDIT=http://demo.rosebaycorporate.com:4099/api/rl/product-credit-balance/
GET_CUSTOMER_CARD=http://demo.rosebaycorporate.com:4099/api/customer/customer-card/
GET_CUSTOMER_FILE=http://demo.rosebaycorporate.com:4099/api/customer/get_files/

#Notification repo
SEND_OTP_SMS=http://demo.rosebaycorporate.com:4082/v1/sendsms/
GET_TEMPLATE_FOR_NOTIFICATION=http://demo.rosebaycorporate.com:4082/v1/template/alias/

#MINIO
MINIO_ENDPOINT=demo.rosebaycorporate.com
MINIO_PORT=4081
MINIO_SSL=false
MINIO_ACCESS_KEY=LMS@2020ROSEBAY
MINIO_SECRET_KEY=93af1a035ad246c9852f85d58d49a04d


#http://demo.rosebayconsult.com:4010/v1/merchant/verify/42ec6dea-1e5a-11ea-be76-0242ac10ee03/



SYNC_CUSTOMER=http://demo.rosebaycorporate.com:4099/api/customer/customer-update-sync/
